*{
    font-family: 'Montserrat';
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --green: rgba(24, 115, 98, 1);
    --dark: rgba(24, 115, 98, 0.082);
    --white: white;
    --shadow: rgba(0,0,0,0.4);
    --dark-hover: #535353;
}


html, body, section{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--dark);
    padding-top: 170px;
}
.fill{
    width: 80%;
    height: 90px;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(20px);
}

header{
    width: 80%;
    margin-top: 50px;
    background-color: var(--white);
    border-radius: 30px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 7px 27px -15px var(--shadow);
    z-index: 300;
}

header section{ 
    display: inline-block;
    padding: 20px 40px;
}

header section img{
    display: inline;
    height: 100%;
}

.nav-le{
    width: 30%;
}
.nav-ri{
    width: 70%;
    display: flex;
    align-items:center;
    justify-content: end;
    padding-right: 0;
}

header .nav-ri a{
    color: var(--green);
    padding: 30px 40px;
    font-weight: bolder;
}

.mainlink-3{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

header .nav-ri a:hover{
    background-color: var(--green);
    color: var(--white);
}

.nav-ri{
    text-align: right;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
}

.side-nav{
    display: none;
}

main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.col-50{
    width: calc(50% - 20px);
    min-height: 300px;
    background-color: var(--white);
    border-radius: 20px;
    padding: 3%;
    padding-top: 50px;
}

#bg{
    background-image: url(../img/stock1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    hyphens: auto;
}

h1{
    font-size: 35px;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 10px;
}
h3{
    text-transform: uppercase;
    font-weight: 700;
}

#image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

#image-slider {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 3s ease;
}

.image {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.5s ease;
}

#prevBtn, #nextBtn {
    font-size: 24px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--dark);
    padding: 5px;
    border-radius: 10px;
}

#prevBtn {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

#nextBtn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.vid{
    width: calc(75% - 20px);
    border-radius: 30px;
}

.vid-iframe:hover{
    box-shadow: 0px 7px 27px -15px var(--shadow);
}

.vid-iframe{
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 30px;
    border: 0;
}

.vid-dec{
    width: calc(25% - 20px);
    background: white;
    border-radius: 20px;
    padding: 3%;
}

.vid-dec h3{
    margin: 0 0 15px 0;
}

#col-25-img{
    background-image: url(../img/stock4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s;
}

.col-25 i{
    margin-bottom: 15px;
}

.col-25 p{
    margin: 15px 0;
}

.read-more{
    border: 0;
    padding: 10px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 10px;
    border: 1px solid var(--green);
}

.read-more:hover{
    cursor: pointer;
    color: var(--green);
    background: var(--white);
    border: 1px solid var(--green);
}

footer{
    background: var(--white);
    bottom: 0;
    width: 80%;
    min-height: 150px;
    border-radius: 30px 30px 0 0;
    margin: 80px auto 0 auto;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo, footer img{
    width: 20%;
    min-width: 200px;
}

.socials{
    font-size: 30px;
}

.socials a:hover{
    color: var(--dark-hover);
}

.socials a{
    padding: 10px;
    color: var(--green); 
}

.col-25{
    width: calc(25% - 30px);
    background: var(--white);
    border-radius: 30px;
    min-height: 150px;
    padding: 3%;
}

.col-33{
    width: calc(33% - 20px);
    padding: 4%;
    background: var(--white);
    border-radius: 30px;
}

.col-75{
    width: calc(75% - 20px);
    background-color: var(--white);
    border-radius: 30px;
}

.bold{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.col-100{
    width: 100%;
    background-color: var(--white);
    border-radius: 30px;
    padding: 4%;
}

.flexbox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.example{
    width: 324px;
}

.example h3{
    padding: 0 0 20px 20px;
    color: var(--green);
}

.tt-container{
    width: 100%;
    height: 575px;
    overflow: hidden;
    display: inline-block;
    border-radius: 30px;
}

.tiktok-embed{
    margin-top: 0 !important;
}

.tiktok-embed iframe{
    display: inline-block;
}

.accordion {
    background-color: var(--green);
    color: white;
    cursor: pointer;
    padding: 18px;
    margin: 0 0 20px 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 20px 20px 0 20px;
    font-size: 20px;
    font-weight: 500;
}
  
  .active, .accordion:hover {
    background-color: var(--dark-hover);
  }
  
  .panel {
    padding: 10px 30px;
    background-color: var(--dark);
    display: none;
    overflow: hidden;
    margin: -20px 0 20px 0;
    border-radius: 20px 0 20px 20px;
    font-size: 19px;
  }

#vid-66{
    width: calc(66% - 20px);
}

#flex-100{
    columns: 4;
    column-gap: 20px;
}

.col-100 h2 {
    margin-bottom: 30px;
}

.col-100 img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: 1.2s;
    filter: saturate(.7);
}

.col-100 img:hover{
    scale: 1.05;
    cursor: pointer;
    box-shadow: 0px 7px 27px -15px var(--shadow);
}

/* RESPONSIVE */

@media (max-width: 1400px){
    h1{
        font-size: 30px;
    }
}

@media (max-width: 1200px){
    h1{
        font-size: 25px;
    }
    #vid-66{
        width: 100%;
    }
    #col-33{
        width: 100%;
    }
    #flex-100{
        columns: 2;
    }

}

@media (max-width: 1000px){

    body{
        padding-top: 140px;
    }

    header{
        margin-top: 30px;
    }

    #bg{
        width: calc(33% - 20px);
    }

    #ff{
        width: calc(66% - 15px);
    }
    .vid{
        width: 100%;
    }
    .vid-dec{
        width: 100%;
    }
    
    .col-25{
        width: calc(50% - 20px);
        padding: 5%;
    }
}

@media (max-width: 900px) {
    
    body{
        padding-top: 110px;
    }
    header{
        margin-top: 15px;
    }
    .nav-le{
        padding-right: 0;
        display: flex;
        align-items: center;
    }
    header section img{
        height: auto;
        width: 100%;
    }
    .main-nav{
        display: none;
    }
    .side-nav{
        display: inline-block;
    }
    main{
        gap: 20px;
    }
    
    #bg{
        width: calc(33% - 10px);
    }

    #ff{
        width: calc(66% - 10px);
    }

    .col-100{
        padding: 8%;
    }
    .col-100 h1{
        margin: 0 0 10px 0;
    }
    .example h3{
        padding: 20px 0;
    }

}

@media (max-width: 700px){
    #bg{
        width: 100%;
    }
    #ff{
        width: 100%;
        padding-top: 5%;
    }
    main{
        flex-direction: column;
    }
    .col-25{
        width: 100%;
        padding: 10%;
    }

    #flex-100{
        columns: 1;
    }

   
}

@media (max-width: 600px){
    
    .nav-le{
        width: 50%;
    }
    
    .nav-ri{
        width: 50%;
    }
    
    header .nav-ri a{
        padding: 30px 20px;
    }

    #ff{
        padding: 7%;
    }

    h1{
        font-size: 25px;
    }

    .logo, footer img{
        min-width: 150px;
    }

}

@media (max-width: 500px){
    .fill, header, main, footer{
        width: 90%;
    }
    header .nav-le{
        padding-left: 30px;
        width: 50%;
    }
    header .nav-ri{
        padding-left: 0;
        width: 50%;
    }

    footer{
        flex-direction: column;
        padding: 10%;
    }
    .socials{
        margin-top: 20px;
    }

}

@media (max-width: 450px){
    .col-100{
        padding: 10% 5%;
    }
    .example h3{
        padding-left: 5%;
        padding-bottom: 0;
    }
    .tt-container{
        scale: 0.9;
        margin: -10px 0 -30px 0;
    }
}

@media (max-width: 350px){
    .nav-le{
        width: 40%;
    }
    .nav-ri{
        width: 60%;
    }

    .tt-container{
        scale: 0.8;
        margin: -30px 0 -70px 0;
    }
    .example h3{
        padding-left: 10%;
    }

}